
<% if current_user != @user && user_signed_in? %>
    <div class="follow-request-form">
        <% if @user.user_requests.find_by(requester_id: current_user.id).present? %>
            requested to follow
        <% elsif @user.friendships.find_by(friend_id: current_user.id).present? %>
            friends
        <% else %>
            <div class="follow-form">
                <%= form_with(url: request_follow_path) do %>
                    <%= hidden_field_tag(:user_id, @user.id)%>
                    <%= hidden_field_tag(:requester_id, current_user.id)%>
                    <%= submit_tag "follow #{@user.username}"%>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>

<h2>Personal Info</h2>
<div class="personal-info" id="user-info">
    <h3>username: <%= @user.username%> </h3>
    <h3>email: <%= @user.email%></h3>
    <h3>post count: <%= @user.posts.count%></h3>
</div>
<h2>post history:</h2>
<div class="post-history" id="user-info">
    <% @user.posts.each do |post|%>
        <div class="post-body">
            <p><%= post.body %></p>
        </div>
    <% end %>
</div>
