<div class="post-owner">
    <h3>username: <%= @author.username%> <br>email: <%= @author.email%></h3>
</div>
<p>post:
    <div class="post-contents"><%= @post.body%></div>
<p>
<% if @author == current_user%>
    <h3><%= link_to 'view', you_page_path %> your page </h3>
<% else %>
    <h3><%= link_to 'view', user_path(@author) %> <%= @author.username%>'s page</h3>
<% end %>
